<div class="col-xs-12">
	<h2>{{submitText}} Meal</h2>
	<br>
</div>

<form class="col-xs-12" name="form" ng-submit="submit()" novalidate>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group" ng-show="!edit">
				<label for="place-lookup">Meal Parent (optional)</label>
				<div angucomplete
					 id="parent-lookup"
					 placeholder="Search Meals"
					 pause="400"
					 selectedobject="selectedParent"
					 url="{{apiUri}}/meals/autocomplete?access_token={{accessTokenId}}&input="
					 titlefield="name"
					 descriptionField="brandName"
					 inputclass="form-control">
				</div>
			</div>
			<div class="form-group" ng-show="!edit">
				<label for="place-lookup">Find Address</label>
				<div angucomplete
					 id="place-lookup"
					 placeholder="Search Places"
					 pause="400"
					 selectedobject="selectedPlace"
					 url="{{apiUri}}/googleplaces/autocomplete?access_token={{accessTokenId}}&input="
					 titlefield="description"
					 inputclass="form-control">
				</div>
			</div>
			<span ng-show="meal.brand.address">
				<div class="form-group row">
					<div class="col-md-5">
						<label>Street</label>
						<input class="form-control"	type="text" required ng-model="meal.brand.address.street" />
					</div>
					<div class="col-md-3">
						<label>City</label>
						<input class="form-control"	type="text" required ng-model="meal.brand.address.city" />
					</div>
					<div class="col-md-2">
						<label>State</label>
						<input class="form-control"	type="text" required ng-model="meal.brand.address.state" />
					</div>
					<div class="col-md-2">
						<label>Country</label>
						<input class="form-control"	type="text" required ng-model="meal.brand.address.country" />
					</div>
				</div>

				<div class="form-group row">
					<div class="col-md-4">
						<label>Zip</label>
						<input class="form-control"	type="text" required ng-model="meal.brand.address.zip" />
					</div>
				</div>

				<div class="form-group row">
					<div class="col-md-4">
						<label>Phone</label>
						<input class="form-control"	type="text" required ng-model="meal.brand.phone" />
					</div>
				</div>
			</span>
		</div>
	</div>
		
	<hr />

	<div class="row">
		<div class="dishes col-xs-12" ng-show="meal.brand.address">
			<h3>Dishes</h3>
			<div class="dish no-gutter" ng-repeat="dish in meal.dishes" ng-class="{odd: $index%2}">
				<div class="col col-xs-10">
					<label>Name</label>
					<input type="text" ng-model="dish.name" class="form-control">
				</div>
				<div class="col col-xs-2">
					<label>Price</label>
					<input type="text" ng-model="dish.price" class="form-control">
				</div>
				<div class="form-group">
					<label>Special Instructions</label>
					<br>
					<textarea ng-model="dish.instructions" class='form-control' rows="2"></textarea>
				</div>
			</div>
			<button id="addDish" type="button" ng-click="addDish()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add Dish</button>
			<hr />
		</div>
	</div>
	

	<div class="row">
		<div class="col-xs-12">
			<h3>Meal</h3>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label for="name">Name</label>
				<input ng-required="true" type="text" ng-model="meal.name" class="form-control">
			</div>
			<div class="form-group">
				<label>Snippet</label>
				<br>
				<textarea class="form-control" ng-model="meal.summary" rows="4"></textarea>
			</div>
		</div>
		<div class="col-xs-6">
			<div cloudinary ng-model="meal.image"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label>Tags</label>
				<ul class="nav nav-pills">
				  <li ng-class="{active: tag.active}" ng-repeat="tag in tags"><a ng-click="toggleTag(tag)" href="javascript:void(0);">{{tag.name}}</a></li>
				</ul>
			</div>
			</div>
			<div class="form-group">
				<label>Ingredients</label>
				<tags-input ng-model="meal.ingredients">
			</div>
		</div>
	</div>
	
	<hr />
	<div class="row">	
		<div class="col-xs-12">
			<h3>Trainer</h3>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<div ng-dropdown-multiselect="" options="trainers" translation-texts="trainerTexts" selected-model="meal.trainer" extra-settings="trainerSettings"></div>
			</div>
			<div class="form-group">
				<label>Quote</label>
				<br>
				<textarea ng-model="meal.trainer.quote" class="form-control" rows="4"></textarea>
			</div>
		</div>
	</div>
	<input class="btn btn-default" type="submit" value="Submit">
</form>